{% extends 'base.html' %}
{% block title %}Password Change Done{% endblock title %}
{% load static %}

{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}


{% block body %} 

<style>
    
</style>
<br>
{% comment %} User Registration Form {% endcomment %}
    <div class="container  mx-auto mt-5 mb-5">

        <h2 class='text-center'>Password Change Done</h2>
        
        <div class="alert alert-success">
            <strong>Your Password Change Successfully</strong>
        </div>
        
        <a href="{% url 'dashboard' %}" class='btn btn-secondary'>Back to Dashboard</a>
    </div>


{% endblock body %}

